<div class="box">
    <div class="formlabel">Login</div>
    <form class="form" [formGroup]="loginRef" (ngSubmit)="signin()">
        <div class="formgroup">
            <label class="emaillabel">Email : </label>
            <input type="email" formControlName="emailid" /><br /><br />
        </div>
        <div class="formgroup">
            <label class="passwordlabel">Password : </label>
            <input type="password" formControlName="password" /><br /><br />
        </div>

        <div class="radio">
            <label class="radiolabel">TypeOfUser : </label>
            <input type="radio" name="typeOfUser" value="admin" formControlName="typeOfUser" />Admin
            <input type="radio" name="typeOfUser" value="user" formControlName="typeOfUser" />Employee<br /><br />
        </div>

        <div class="buttongroup">
            <input type="submit" value="Login" /> &nbsp;
            <input type="reset" value="Reset" />
        </div>

    </form>
    
    <span style="color:red">{{msg}}</span>
    <div class="registerlink"><a routerLink="/signup">Register</a></div><br>
    <br>
</div>